[2017-12-27 19:52] devilicecream opened #1 "Logging"
The logging should all be handled through the proper function `log()` that is already available. There's also a `logSuffix` variable that is not used in the `log()` function, and it is used as a **pre**fix, not as **suf**fix.

[2017-12-27 20:50] Zizzamia opened #2 "Publish npm"

[2017-12-28 09:14] #2 closed

[2017-12-28 22:06] #1 closed

[2017-12-28 23:07] Zizzamia opened #5 "Add basic documentation"
- First Meaningful Paint

[2017-12-28 23:10] Zizzamia opened #6 "Setup Travis"

[2017-12-29 02:57] #6 closed

[2017-12-29 03:37] DanielSokil opened #7 ".js file?"
Does this run on client-side? or node.js only?
Ex.
`<script src="node_modules/prefume.js/dist/prefume.js"></script>`

[2017-12-29 04:18] Zizzamia opened #8 "Add tests"

[2017-12-29 04:33] #5 closed

[2017-12-29 04:37] Zizzamia commented on #7
Perfume is only **client-side** because of `window.performance` used to calculate the browser metrics.

I just updated the docs, have you tried using the [Universal Module Definition](https://github.com/Zizzamia/perfume.js#importing-library)
[code]

PS: The library it's still on working progress ;)

[2017-12-29 04:39] Zizzamia opened #9 "Add tests start()"

[2017-12-29 04:40] Zizzamia opened #10 "Add docs start() and end()"

[2017-12-29 15:15] DanielSokil commented on #7
I will give it a try, Thanks.

[2017-12-29 15:28] DanielSokil opened #11 "List All Features"
What does this library do at this point?

[2017-12-30 02:08] #9 closed

[2017-12-30 02:08] #10 closed

[2017-12-30 02:18] Zizzamia commented on #11
Ciao, here the documentation about `perfume.start()` and `perfume.end()`.
https://github.com/Zizzamia/perfume.js/tree/v0.2.2#start-measuring

Next methods coming up are: `perfume.endPaint`, `perfume.endPaint`.
And the option to enable Google Analytics.

[2017-12-31 23:57] Zizzamia opened #12 "Google Analytics"

[2018-01-01 23:54] #7 closed

[2018-01-01 23:54] #8 closed

[2018-01-01 23:54] #12 closed

[2018-01-02 06:25] Zizzamia opened #13 "endPaint()"

[2018-01-02 06:27] Zizzamia opened #14 "Pass options into constructor"

[2018-01-02 06:27] Zizzamia opened #15 "TTI (Time to Interactivity)"

[2018-01-03 01:04] Zizzamia opened #16 "Docs: endPaint()"

[2018-01-03 01:06] Zizzamia opened #17 "Improve Docs"
Explain better the value of each public API method.

[2018-01-03 01:22] DanielSokil commented on #11
@Zizzamia Could you provide a compiled js script? From what I see you only have a ts script.

[2018-01-03 17:33] Zizzamia commented on #11
Have you tried installing the library by using [npm](https://www.npmjs.com/package/perfume.js)?

    npm install perfume.js --save

The location of the latest UMD version it's here
https://unpkg.com/perfume.js@0.2.6/dist/perfume.umd.js

[2018-01-03 17:37] #13 closed

[2018-01-04 01:39] #16 closed

[2018-01-04 02:13] #17 closed

[2018-01-06 00:11] Zizzamia opened #18 "Use PerformanceObserver for FCP"
One of the main reasons we've historically optimized for metrics like load and DOMContentLoaded is because they're exposed as events in the browser and easy to measure on real users.

By contrast, a lot of other metrics have been historically very hard to measure. For example, this code is a hack we often see developers use to detect long tasks:
[code]
This code starts an infinite requestAnimation

[2018-01-07 21:45] #15 closed

[2018-01-10 23:41] Zizzamia opened #19 "Perfume and Webdriver"
https://stackoverflow.com/questions/47966321/how-to-get-loading-time-of-data-at-frontend-for-any-web-application-by-using-web

[2018-01-14 02:43] #18 closed

[2018-01-15 01:22] #14 closed

[2018-01-15 01:22] Zizzamia commented on #11
Here all the features: http://zizzamia.github.io/perfume/

[2018-01-15 01:22] #11 closed

[2018-02-14 23:03] DanielSokil opened #21 "FPS feature."
Ability to get Average `FPS` performance from `First Contentful Paint` to `Time to Interactive`

Start `First Contentful Paint`
![screenshot from 2018-02-14 17-56-23](https://user-images.githubusercontent.com/24403355/36232762-05bcef88-11b1-11e8-89f4-78d48b33e57e.png)

End `Time to Interactive`
![screenshot from 2018-02-14 17-57-21](https://user-images.githubusercontent.com/24403355/36232774-10766

[2018-03-03 23:46] Zizzamia opened #22 "Increase cross-browser tests"

[2018-03-04 00:15] #22 closed

[2018-04-06 19:02] Zizzamia commented on #21
Can you link me to some documentation or Web API related?

[2018-04-18 18:04] lifeisfoo opened #24 "Generic analytics platform support"
Hi @Zizzamia, what about a configurable analytics function to use perfume.js with any platform?

Changing the `sendTiming` function in this way should be enough:

[code]

## Example using google analytics
[code]

## Example using matomo (ex piwik)
[code]

In this way you can also:
- replace the entire analytics configuration block with a single property
- clean up the library code from the global

[2018-04-19 10:30] Zizzamia commented on #24
Grazie for feature propose, 🙏
I love the idea of having a public `analyticsLogger` method, and at the same time, I believe it's essential to keep the original config for Google Analytics usage (I like a simple popular scenario with the possibility to extend the library for other cases).

Feel free to start a PR 😊
Cheers 🍻

[2018-04-20 10:37] Zizzamia opened #26 "Add Default Options in docs and README"
After [Default Options](https://github.com/Zizzamia/perfume.js#default-options) create a new section for Perfume Observe.
Describe the values and methods:
- firstPaintDuration;
- firstContentfulPaintDuration;
- timeToInteractiveDuration;
- observeTimeToInteractive.

[2018-04-20 17:52] Zizzamia opened #27 "Add First Paint in docs and README"

[2018-04-27 15:41] Andarist commented on #24
GA is a specific use case that can be easily implemented in user land. I agree with @lifeisfoo that it should be decoupled from the core library, if one don't want to use GA he/she still has to get built-in `sendTiming` implementation which costs some bytes.

[2018-05-05 20:54] #27 closed

[2018-05-11 08:42] kurtextrem opened #33 "Add FID (First Input Delay)"
https://github.com/GoogleChromeLabs/first-input-delay

[2018-05-11 16:58] Zizzamia commented on #33
Amazing, I added on the [v0.8.0](https://github.com/Zizzamia/perfume.js/milestone/15) milestone!
👨‍🚀🚀🌕
cc @philipwalton

[2018-05-13 05:03] #26 closed

[2018-05-17 06:39] Zizzamia opened #34 "Add warning option"
In Perfume's default options add the "warning" setting, this should allow to turn on and off `console.warn`.

[2018-05-17 06:44] #34 closed

[2018-05-18 05:52] Zizzamia commented on #24
Added to Perfume v0.7.1 under [Analytics Support](http://zizzamia.github.io/perfume/#/analytics-support/)! 😄
I'm going to keep the Google Analytics support as default version, with the possibility to expand Perfume to other analytics platforms.

Thank you again for the feedback, you guys are the best 👊

[2018-05-18 05:52] #24 closed

[2018-06-06 13:43] dan-harris opened #35 "Logging still enabled for FP, FCP & TTI even when logging set to 'false'"
Firstly, thanks for the awesome, simple library. Works a treat 👍

I'm using your library to add a few extra metrics to my existing analytics service. I'd like to hide the console logs that are shown by default.

I've had the issue where I cant seem to suppress the  FP, FCP & TTI console logs, even with `logging` in the config set to false.

e.g.
[code]

unsure if this is intentional, or I've misse

[2018-06-06 19:22] DanielSokil commented on #21
@Zizzamia https://github.com/victornpb/micro-fps/blob/master/src/index.js

[2018-06-12 00:56] dan-harris commented on #35
Great, will shoot through a PR as soon as possible 👍

[2018-07-12 00:20] Zizzamia commented on #35
@dan-harris released Perfume.js [v0.8.0](https://github.com/Zizzamia/perfume.js/releases/tag/v0.8.0)
Grazie mille for your contribution 🙌

[2018-07-26 15:12] benmccallum opened #38 "Won't seem to fire when cache disabled"
Just added this into the <head> of my site. Doing an F5 with 'Disabled cache' checked in Chrome DevTools nothing gets written to the console. Unchecked, I see the PerfumeJs messages with timings. Does the script have to load before something else?

I haven't got it on production yet, but will soon-ish, so will be able to send you the link to repro. Just thought I'd ask.

[2018-07-27 17:40] Zizzamia commented on #38
This is interesting, please keep me updated with the production version.
What metrics are you collecting, FCP / TTI / CFP?

I use Perfume in production in my company https://getplan.co/ (you need to login in) 😄

[2018-07-27 19:40] tambulkar opened #39 "Send other metrics to google analytics using the sendTiming method"
I would like to also measure metrics using window.performance and report those to google analytics. Would it be possible to make the sendTiming method public?

[2018-07-30 02:03] Zizzamia commented on #39
Good point, I will make it happen for the `0.8.1` version

[2018-07-30 02:07] Zizzamia opened #40 "Stop sendTiming when tab is hidden"
In case the tab is hidden metrics can return wrong values, a solution might be to cancel all the sendTiming callbacks.

Another possible solution is to stop calculate all the metrics as soon the tab become hidden.

[2018-08-02 13:38] benmccallum commented on #38
Collecting all metrics, just basically default settings with GA user timings enabled. Should be on prod soonish so I'll shoot the link over when it's up if it's still a problem. :)

[2018-08-10 15:17] dance-cmdr commented on #38
Hi @Zizzamia, I think I experienced something similar. TTI didn't fire consistently with Disabled Cache on Chrome.

[2018-08-12 08:11] Zizzamia commented on #40
https://github.com/Zizzamia/perfume.js/commit/c07e769d657df655ce8c722315be1cae96620d55

[2018-08-12 08:11] #40 closed

[2018-08-12 08:15] Zizzamia commented on #38
It might be related with the https://github.com/GoogleChromeLabs/tti-polyfill that Perfume uses to calculate the TTI.
In what case do you need to run the website with "Disabled Cache on Chrome"?
Is it for pure debugging?

Thank you for the feedback, I need to also work on https://github.com/Zizzamia/perfume.js/issues/33 anytime soon.

[2018-08-14 09:42] benmccallum commented on #38
That being said, still seems to fire haphazardly. Would like to keep this open a little longer while I monitor.

[2018-08-14 09:54] benmccallum opened #42 "Support Google Analytics being loaded async"
We're loading GA via GTM which is added as an async script tag. As such, Perfume is logging a warning that GA hasn't been loaded in time. I think my scenario is pretty common, so can we address this as part of perfume?

**Implementation thoughts**
I guess we'd need to maintain a queue of `ga` calls in perfume, with a setInterval polling for GA every second up to a configurable maximum.

So we coul

[2018-08-17 17:17] Zizzamia commented on #38
Thank you @benmccallum, I agree! I recently fixed https://github.com/Zizzamia/perfume.js/issues/40 which avoids firing Metrics when the tab is closed.
Let me prepare the next version, so we can start testing it!

[2018-08-17 17:28] Zizzamia commented on #42
I would like to avoid any sort of `setTimeout` or `setInterval` because the Angular framework fires an extra change detection after each one of them.
We could simplify the approach by having one public setting and one method, like:
[code]
and as you said it will start queuing the Metrics, when `ga` is available we will call
[code]
and resolve the queue.

Am I missing anything?
If you can work on a

[2018-08-17 18:38] Zizzamia commented on #39
@tambulkar *v0.8.1* is out 🔥 🚀

[2018-08-17 18:39] Zizzamia commented on #38
*v0.8.1* is out 🔥 🚀

[2018-08-22 18:53] Zizzamia commented on #42
I moved this refactor to `v0.9.1`; this will give us some extra time to don't rush the design implementation. I'm looking forward to work on your proposal.

[2018-08-22 20:42] benmccallum commented on #42
No worries. It's done, just trying to figure out how to commit with all the precommit checks. Seems like a lot of the failures were existing? Not sure how you managed to commit/push.

[2018-08-22 20:51] benmccallum commented on #42
Managed to get through them all, turns out they were all mine. Will open up the PR now, but haven't actually run the changes in the browser yet.

Will probably rename GaQueueItem and gaQueue to something else. Maybe GaSend and gaSendQueue. Let me know what you think. Don't think we need a gaAsync: true config flag, that'd just be all internals.

[2018-08-22 21:26] Zizzamia commented on #42
I believe we need to create a generic **queue** system, that can be used from external tracking services too.

[2018-08-22 23:55] #33 closed

[2018-08-23 02:30] Zizzamia commented on #33
Hey hey, you can find FID from [v0.9.0](http://perfumejs.com) version, just released.

[2018-08-23 06:47] kurtextrem commented on #33
Great, thank you!!!

[2018-08-23 08:50] benmccallum commented on #42
So you mean if someone passes in their own customer analytics tracker, it queues up requests for those services too?

Can define a common interface like `IAnalyticsTracker`, that has members `HasLoaded` and `Track`? Then create a `GoogleAnalyticsTracker : IAnalyticsTracker` and others can implement their own?

[2018-08-23 08:51] benmccallum commented on #42
Note to self: `.pop()` off the queue rather than just loop over.

[2018-08-27 04:17] Zizzamia commented on #42
Yes, in the past we had people requesting "Generic analytics platform support" #24.
Google Analytics will always be the default choice, and Perfume is going to expose the metrics to any tracking service you will end up to use.

I will keep the design conversation in the https://github.com/Zizzamia/perfume.js/pull/43

[2018-09-13 21:43] a-axton opened #44 "TTI polyfill head script"
Is the TTI polyfill head script required? I was noticing that events weren't firing every page load. Once I added the head script from the TTI readme it seemed to be firing 100% of the time. If this is required should it be added to the docs somewhere?

This is the script I'm referring to from https://github.com/GoogleChromeLabs/tti-polyfill
[code]

[2018-09-16 03:57] Zizzamia commented on #44
Oh Boy, it is interesting that I never noticed this bug! Thank you for pointing this out.
Can you please share with me more info on how big is your app (kb/mb), how you load the resources in your `index.html` and how you use **Perfume**. This information would be beneficial to me to understand better your case.

And I will also double test it, and see to introduce back the code inside Perfume.

[2018-09-16 03:59] #38 closed

[2018-09-16 04:00] Zizzamia opened #45 "Add Device info for each metric"
Add info like browser Name and OS

[code]

[2018-09-16 04:01] Zizzamia opened #46 "New Observer APIs"
Give both an **async** and **sync** option to retrieve the basic metrics.

[2018-09-22 19:55] #46 closed

[2018-09-22 19:56] Zizzamia commented on #44
@a-axton v1.0.0 is out 🔥 🚀 with your fix

[2018-09-22 19:56] #44 closed

[2018-10-02 23:28] Zizzamia opened #47 "Initial Angular decorator implementation"

[2018-10-02 23:32] #47 closed

[2018-10-04 01:36] Zizzamia opened #48 "Angular Decorator docs"

[2018-10-04 02:08] #48 closed

[2018-10-08 21:38] Zizzamia opened #49 "Add Angular AOT support for PerfumeModule"

[2018-10-08 22:22] #49 closed

[2018-10-10 22:43] Zizzamia opened #50 "Add debugging option to discover possible bugs"
In case the FP or FCP doesn't happen, let's make sure to expose the debugging logs.

[2018-10-10 22:46] Zizzamia opened #51 "Max time metric config"
In case any metric is bigger than 18 seconds, let's drop the result.
[code]

[2018-10-10 22:47] Zizzamia opened #52 "Add NgPerfume docs"

[2018-10-11 06:46] Artur- opened #53 "Unable to use as an ES6 module"
[code]

results in

[code]

[2018-10-11 17:59] Zizzamia commented on #53
Thanks for opening this issue.
How do you bundle your app? Do you use Webpack?
Would you mind give more context about your app, please.

[2018-10-11 18:12] Artur- commented on #53
No bundling
No webpack

Just a module import

[2018-10-11 18:17] Zizzamia commented on #53
Lol 🤔
What if you use the other two solutions of imports?

Additionally, you can import the transpiled modules from dist/es in case you have a modular library:
[code]

Universal Module Definition:
[code]

[2018-10-12 06:05] Artur- commented on #53
It does not matter which import is used.

I guess the problem is that `tti-polyfill` is not an ES module

[2018-10-12 08:05] snipsy commented on #53
Hello,

I have similar problem, tried to use perfume.js in my es6 app, tried to include files from angular folder inside perfume.js but my app could not transpile ES module.

I've also tried several umd.js files in different versions but nothing worked.

I've also tried including perfume.js from dist/lib folder and after providing all necessary dependencies my app successfully started but I am not

[2018-10-12 18:07] Zizzamia commented on #53
@snipsy can you tell us more, how did you make it work in your case. It maybe helps @Artur-, and we could add this in the docs.

What kind of metrics are you looking for?
For Angular did you followed the docs?
http://zizzamia.github.io/perfume/#/angular/

[2018-10-12 18:07] #52 closed

[2018-10-12 21:03] Zizzamia commented on #53
@Andarist any thoughts on this issue?

[2018-10-13 13:07] Andarist commented on #53
I'm not sure how @Artur- wants to consume the library - if he doesn't use any bundling how `perfume.js` is even resolved to the actual file? Such import is node/bundlers specific & is not compatible with the browsers so I assume there must be some kind of bundling used.

[2018-10-15 18:50] Zizzamia opened #54 "Remove Time To Interactive from Perfume"
Based on https://developers.google.com/web/updates/2018/05/first-input-delay, it is advised to calculate TTI during Lab Measurements and use FID for RUM.

[2018-10-15 22:06] #51 closed

[2018-10-15 23:59] #50 closed

[2018-10-21 23:17] Zizzamia opened #55 "Use Idlize"
Add Idle Until Urgent strategy for logging and analytics tasks.
https://github.com/GoogleChromeLabs/idlize
https://philipwalton.com/articles/idle-until-urgent/

[2018-10-22 01:14] Zizzamia opened #56 "Idle Until Urgent strategy"
Add Idle Until Urgent strategy for logging and analytics.
https://github.com/GoogleChromeLabs/idlize
https://philipwalton.com/articles/idle-until-urgent/

[2018-11-06 05:36] #55 closed

[2018-11-06 05:37] #56 closed

[2018-11-06 06:51] #54 closed

[2018-11-09 23:19] DmitryEfimenko commented on #54
Could you please explain the decision to remove the ability to measure TTI?
I was very sad to see it being removed as I think it's a very useful metric.
I understand there are lab tools like LightHouse that help us measure this, but it's also nice to be able to gather it in the wild. In this case, it's easy to set up an alarm if TTI goes crazy and have it investigated.

[2018-11-10 00:10] Zizzamia commented on #54
I completely understand I felt like you when I discovered the TTI (like Pluto for the solar system) was kicked out from the RUM metrics. Perfume goal is to support the metrics are recognized to be the best and well supported by the W3C for your field user experience.
Three reasons:
1) Here it's explained how FID is a better metric for RUM instead of TTI: https://developers.google.com/web/updates/2

[2018-11-10 06:47] DmitryEfimenko commented on #54
Thank you a lot for the explanation. It does make a lot of sense now.
Looking forward to your future work!

[2018-11-13 15:54] petrbrzek opened #58 "Question - how to measure async code"
Hi, first of all, thank you for a great library 👏. I'm wondering what's the best practice in term of measuring async code. Let's say you measure the time for some async API requests and you run those requests simultaneously and you want to use just one event name.

Example code:

[code]

Those two calls interfere with each other. What's the correct way of doing this?

[2018-11-14 09:55] petrbrzek commented on #58
Thanks. I understand this approach is better, but the example is rather simplified. We want to measure some user action where you start measuring in a file A and stop measuring in a file B and you can also do those actions in parallel. Eg. in our app, you can open a design or more design simultaneously and we are interested in "opening design" time. So what I think we are going do is to use Perfum

[2018-11-14 18:58] Zizzamia commented on #58
Amazing, if you want we can talk via google hangout next week 😄
Feel free to private DM me on https://twitter.com/Zizzamia

I will personally avoid creating a new instance for each metric but instead wrap an instance inside your custom Perf service. Do you guys use any framework in particular? I'm looking forward to documenting more different use cases.

[2018-11-17 23:01] Zizzamia commented on #21
I spent some time researching about FPS, and the most close official proposal is [LatencyInfo Based Frame Metric](https://docs.google.com/document/d/1KrqWnzGNm7qUqSLer-iXiGxVC-nL7niZtEU-0rU0W08/edit).

Because it seems like there is not a strong support from the Chrome team to support this metric, I prefer not to add it to Perfume, yet.

@paulirish am I missing any recent update about it?

[2018-11-27 05:51] aroramayur opened #59 "Computing Paint Entries as per Spec Level 1"
Thank you for writing this @Zizzamia. I am looking at leveraging this to get paint performance information for my app. From all the documentation I've read , one should register PerformanceObserver in the `<head> `before any CSS loads to capture FP and FCP.

This is needed until Level 2 of the spec comes up with the 'buffered' flag - which is in editor's draft right now. How is Perfume capturing p

[2018-11-27 07:56] kurtextrem opened #60 "Add support for First Input"
I'm just leaving this here for now until it's shipped: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/LN92hkaKCzw/Y-ryVxu5AgAJ

[2018-11-27 19:14] Zizzamia commented on #59
Thank you for pointing this out, I had a similar question over a year ago when I start building Perfume.js
What I learned is that dependence 😆as everything with measuring performance.

Over time **PerformanceObserver** will become better to be used everywhere in the application, for now, make sure to run **Perfume** as soon as possible in your stack, I personally do inside a Single Page App as one

[2018-11-27 19:16] Zizzamia commented on #60
Sounds good! I also need to review all the latest news from [Perfomance.now() Conf](https://www.youtube.com/watch?v=XvZ7-Uh0R4Q)

[2018-11-29 19:55] NateWarner opened #61 "FCP and FP don't log when doing server prerenders"
Worth mentioning since it wasn't brought up in the documentation is that if a site is doing prerenders, then FCP and FP do not fire. Once I emulate LTE or slower speeds, the prerender content gets in FCP before the Angular packages have finished downloading and, by extension, before PerfumeJS is in play. As a result, those two metrics never fire.

I would imagine this may also be the case for peop

[2018-12-17 02:13] #42 closed

[2018-12-17 02:13] #21 closed

[2018-12-17 02:14] #58 closed

[2018-12-17 02:14] #59 closed

[2019-01-05 21:54] #45 closed

[2019-01-05 22:07] Zizzamia commented on #19
Using Perfume with Webdriver doesn't seem the right purpose for this library, which aims instead to help collect Real User Measurements (RUM).

[2019-01-05 22:07] #19 closed

[2019-02-03 18:59] Zizzamia commented on #53
Closing this issue because it seems not a problem anymore.

[2019-02-03 18:59] #53 closed

[2019-02-28 10:13] csabapalfi opened #64 "Inaccurate Paint Timing polyfill"
I can see this library tries to polyfill the Paint Timing API but not sure if the implementation is accurate.

Here's the code I'm referring to: https://github.com/Zizzamia/perfume.js/blob/master/src/emulated-performance.ts#L33-L37

Would it be better to simply not return FP and FCP if the browser doesn't support Paint Timing? Maybe I'm missing something but how can a simple `setTimeout` capture a

[2019-02-28 16:52] Zizzamia commented on #64
You make a great point! I'm going to think more about it and see if I should have a boolean option to enable/disable Paint Timing polyfill.

[2019-02-28 20:06] csabapalfi commented on #64
Brilliant, thanks! 👍

[2019-03-06 16:31] TUNER88 opened #66 "Add SSR support, init only on client"
Server side rendering ends up with following error:
[code]

Could you please provide some example configs how to get it running only on client side?

[2019-03-16 17:56] Zizzamia commented on #66
Have you tried by checking the Production Environment? What SSR library do you use? I can try to create a mini demo for it.

[2019-03-16 18:15] Zizzamia commented on #61
Yup, you right! As explained here
https://developers.google.com/web/fundamentals/performance/user-centric-performance-metrics

Do you wanna propose a PR to update the documentation? Otherwise, I will work on later on.
Thank you for sharing your experience and opening this question.

[2019-03-16 18:16] Zizzamia commented on #60
Ciao @kurtextrem, do you know more about the progress of this metric?

[2019-03-16 18:27] kurtextrem commented on #60
It's blocked by https://bugs.chromium.org/p/chromium/issues/detail?id=914500 so I guess it won't happen rn.

[2019-03-17 00:49] Zizzamia commented on #60
Cool Cool, gotcha!
A few other ideas I'm keeping my eyes on are:
- Hero Text Timing, https://wicg.github.io/element-timing/ https://docs.google.com/document/d/1blFeMVdqxB0V3BAJh60ptOBFY7cJSXnf7VyW3wspbZ8/edit#heading=h.eny79fwwx642
- Expected Queueing Time, https://gist.github.com/paulirish/7fbadc9556c9dc97e9ceac6cf078a5cb

[2019-03-18 08:04] kurtextrem commented on #60
Pretty interesting stuff!

[2019-05-10 23:31] jessetsilva commented on #61
Hi @Zizzamia , do you know of any workaround that can make it work while the new spec is not implemented?

Thank you.

[2019-05-20 22:33] dmatteo opened #68 "Proposal: allow `endPaint` to accept a `customProperties` object to do custom reporting"
The current API for `endPaint` only allows a metric name to be passed in, which is limiting the potential to report additional properties, especially when using custom analytics tracking.

The proposed syntax will accept the object, and surface it in logging statements and analytics tracking, e.g.

**on the tracking side**
[code]

**on the reporting site**
[code]

I'll be following up this issue w

[2019-05-22 10:25] jesperryom opened #70 "Passing in timingVar to perfume.log()"
Using this nifty library, I found the way `timingVar` is defined during instantiation to be a little counter-intuitive. In my mind, a [`user timing variable`](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#timingVar) is used to label the event that is being measured and might differ for different calls to `perfume.log()`.

How would you feel about a tiny P

[2019-05-24 05:23] Zizzamia commented on #70
You make a great point! I would love to see a PR about it, thank you 😄

[2019-05-24 05:32] Zizzamia commented on #70
Because it might be going to conflict with https://github.com/Zizzamia/perfume.js/pull/69, I need to first change
[code]
to
[code]

which will support more custom requirements and future PRs.

Sounds good?

[2019-05-24 05:36] Zizzamia commented on #68
Amazing, thank you for taking the time to write the PR. Before moving forward I need to change the way `logging` and `sendTiming` is done to support more flexible behavior.

https://github.com/Zizzamia/perfume.js/pull/69#issuecomment-495478385

[2019-06-10 13:27] johnwcallahan opened #71 "Clear performance marker on cancel/error"
Thanks for the great library!

I'm looking for a way to clear (i.e. cancel) a performance marker. My use case is that I don't want to log a timing event if what I'm measuring is interrupted (or fails). Here's a simple example using React:

[code]

Is there a way to do this with perfume.js? I haven't been able to find it in the docs or source code, but maybe I'm missing something.

[2019-06-10 20:26] Zizzamia commented on #71
Thank you for the issue.
That's something I didn't think about it before, but it seems I should create a `perfume.clear('MeasureMyComponent')` based on the official Performance API.
https://developer.mozilla.org/en-US/docs/Web/API/Performance/clearMarks

[2019-06-14 22:53] Zizzamia opened #72 "Add minMeasureTime"
As we have `maxMeasureTime` have also `minMeasureTime` with a default value of 10.
Changing slightly the behavior with anything that is below a specific number to not be reported.

[2019-06-25 22:43] bcarson opened #73 "Using Perfume in a Lazy Loaded Module"
Hi @Zizzamia!

Can I use perfume in an Angular app with lazy loaded modules?

I know I can use `PerfumeModule.forRoot(perfumeConfig)` in the root but I'm not sure how to configure it in lazy loaded modules.

If I try `PerfumeModule.forChild` I get this error in VSCode:
`Property 'forChild' does not exist on type 'typeof PerfumeModule'.`

If I use `PerfumeModule.forRoot` in both modules, I get this

[2019-08-08 15:00] priandsf opened #74 "Documentation"
Would be great to have the doc hosted somewhere. I tried to compile it locally but I'm getting the following error:
[code]

[2019-08-08 15:08] nilskuhn commented on #54
I am still interested in measuring TTI in RUM for these reasons:

1. I want to build my own KPI's aggregating multiple RUM metrics (like performance score of lighthouse does). While FID may be a better interactivity metric in RUM than TTI its values must be somehow normalized to be aggregated with other metrics (because they are typically much smaller  at least for median or average). Also I think

[2019-08-10 19:53] Zizzamia commented on #74
Is it the main Documentation website what you are looking for?
[http://perfumejs.com](http://perfumejs.com)

[2019-08-12 12:07] priandsf commented on #74
Yes it might be.

[2019-08-12 12:07] #74 closed

[2019-08-15 08:29] nilskuhn opened #76 "FID needs additonal inline snipplet from google lib"
I am observing the following error if I am using perfume.js with FID activated in config but don't integrate googles [FID library](https://github.com/GoogleChromeLabs/first-input-delay/blob/master/dist/first-input-delay.min.js) in the page:
[code]
I think it's valid to not integrate the lib as a dependency because of the recommendation to inline it in the head of the page.
But the fact that perfum

[2019-08-17 22:19] Zizzamia commented on #54
@nilskuhn thank you for your feedback.
About point 3, I didn't personally double-check it. But I read the polyfill code quite extensively and there is a lot of calculations and network stress done by collecting all the resources need it for that metric.

If you are still interested to do some testing, feel free to take the [tti-polyfill ](https://github.com/GoogleChromeLabs/tti-polyfill) and play

[2019-08-17 22:24] Zizzamia commented on #76
Thank you for the feedback.
What DIST are you using? It should be included in the main Perfume bundle.
Can you share more on how are you using Perfume in your App.

[2019-09-09 06:06] Zizzamia commented on #60
It's time to release Perfume v3 with **first-input** support and using the **buffered** flag.

https://chromium.googlesource.com/chromium/src/+/2f649e5932821fec499ec23bd95d5f5d24418b0a/third_party/blink/web_tests/external/wpt/event-timing/onloadthenobserve-firstInput.html

[2019-09-09 06:08] Zizzamia opened #79 "Add support for Largest Contentful Paint"
Base article https://web.dev/largest-contentful-paint

[2019-09-09 06:13] Zizzamia opened #80 "Add support for Layout Instability API"
Based article https://web.dev/layout-instability-api
Keep an eye on https://bugs.chromium.org/p/chromium/issues/detail?id=581518&q=firstInput&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

[2019-09-09 06:15] Zizzamia opened #81 "Add support for Buffered FP/FCP"
This is available only on Canary at the moment
https://www.w3.org/TR/performance-timeline-2/

[2019-09-09 06:17] Zizzamia opened #82 "Remove EmulatedPerformance"
We will keep the code necessary to not let Perfume crush for all browser, but we will deprecate any solution that isn't using PerformanceObsever to calculate the performance timeline metrics.

[2019-09-16 00:30] #81 closed

[2019-09-16 02:23] Zizzamia commented on #60
Keep an eye on https://chromium-review.googlesource.com/c/chromium/src/+/1685975

[2019-09-20 02:21] Zizzamia opened #83 "Assessing Loading Performance in Real Life with Navigation and Resource Timing"
https://developers.google.com/web/fundamentals/performance/navigation-and-resource-timing/

http://www.websiteoptimization.com/speed/tweak/time-to-first-byte/

[code]

[2019-09-23 20:47] mavencode01 opened #84 "Angular 7 support"
Please how can I use the package in angular 7 ?

Can't find the angular source code to recompile for angular 7.

[2019-09-24 00:36] mavencode01 commented on #84
I figured out the npm version!

[2019-09-24 00:36] #84 closed

[2019-09-25 07:23] Zizzamia opened #85 "Calculate Data Consumption till First Input Delay"

[2019-09-26 07:06] #82 closed

[2019-09-26 07:06] Zizzamia commented on #60
Added support with [v3.0.0-rc.1](https://github.com/Zizzamia/perfume.js/releases/tag/v3.0.0-rc.1)

[2019-09-26 07:06] #60 closed

[2019-09-27 07:02] #85 closed

[2019-09-27 20:29] Zizzamia commented on #61
Ciao, and sorry for this late reply.
The buffered flag is finally available in Chrome 🤩

You can already test it with [Perfume.js v3.0.0-rc.5](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.md)

I am going to have v3 under monitoring before release it officially, in case of possible cross browser bugs.

[2019-09-27 20:29] #61 closed

[2019-09-27 20:32] Zizzamia commented on #64
Ciao, and sorry for this late reply.
With V3 we will drop the support for Paint Timing polyfill and only serve the results from the Vanilla API 🍾
Also, we have the buffered flag enabled which will help for Server Side Rendering and Google Tag Manager issues. 🤩

You can already test it with [Perfume.js v3.0.0-rc.5](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.md)

I am going to have

[2019-09-27 20:32] #64 closed

[2019-09-27 20:33] Zizzamia commented on #66
Ciao, and sorry for this late reply.
Also, we have the buffered flag enabled which will help for Server Side Rendering and Google Tag Manager issues. 🤩
With V3 we will drop the support for Paint Timing and First Input Delay polyfill and only serve the results from the Vanilla API 🍾

You can already test it with [Perfume.js v3.0.0-rc.5](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.m

[2019-09-27 20:33] #66 closed

[2019-09-27 20:36] Zizzamia commented on #73
Ciao, and sorry for this late reply.
Also, we have the buffered flag enabled which will help for Server Side Rendering and Google Tag Manager issues. 🤩
With V3 we will drop the support for Paint Timing and First Input Delay polyfill and only serve the results from the Vanilla API 🍾

You can already test it with [Perfume.js v3.0.0-rc.5](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.m

[2019-09-27 20:37] Zizzamia commented on #76
Ciao, and sorry for this late reply.
With V3 we will drop the support for Paint Timing and First Input Delay polyfill and only serve the results from the Vanilla API 🍾
Also, we have the buffered flag enabled which will help for Server Side Rendering and Google Tag Manager issues. 🤩

You can already test it with [Perfume.js v3.0.0-rc.5](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.m

[2019-09-27 20:37] #76 closed

[2019-09-29 23:27] Zizzamia commented on #70
Ciao, and sorry for this late reply.
With V3 we made some changes on log, sendTiming and analyticsTracker to be more flexible for future PR  🤩

You can already test it with [Perfume.js v3.0.0-rc.10](https://github.com/Zizzamia/perfume.js/blob/master/CHANGELOG.md)

I am going to have v3 under monitoring before release it officially, in case of possible cross browser bugs.

But please feel free to c

[2019-10-04 17:34] theAndrewCline opened #86 "PerfumeModule Causes Production Build Error in Angular"
When running `ng build --prod` I get the following error

ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'PerfumeModule' was called.

Removing PerfumeModule fixes the issue. but obviously I would like to tests my production build

[2019-10-09 16:53] Zizzamia commented on #86
Would you mind share a little bit more with me please.
Angular version: ?
Perfume version: ?
Angular CLI version: ?

Can you share also the trace of the error please.

[2019-10-10 12:16] theAndrewCline commented on #86
Sure thing!

Angular version: 8.2.0
Perfume version: 3.0.0-rc.5
Angular CLI version: 8.2.0

[2019-10-10 15:49] theAndrewCline commented on #86
Hey, that works! 👍 Thanks for your help!

[2019-10-10 15:49] #86 closed

[2019-10-11 10:30] WarrenJones opened #87 "Illegal invocation"
![image](https://user-images.githubusercontent.com/8704779/66645124-352c9400-ec55-11e9-806f-2f945365e6d4.png)
I've copy the source code and run it but every single time it shows like this

[2019-10-11 11:44] WarrenJones commented on #87
![image](https://user-images.githubusercontent.com/8704779/66648971-880b4900-ec5f-11e9-89b0-5dc3e7052e25.png)
Here I annotated the requestIdleCallback then it works

[2019-10-11 17:52] Zizzamia commented on #87
Thank you for opening this issue, can you please share more on:
- Perfume.js version you are using
- how are you using Perfume in your code
- what bundle are you using
- what browser version you see the error

Happy to help

[2019-10-12 02:02] WarrenJones commented on #87
1.Perfume.js version is the lastest version I cloned from github
2.I just copy the code in a new folder and import Perfume.js on my webApp as in the example
3.I am using webpack for bundling
4.using Chrome Version 77.0.3865.90 (Official Build) (64-bit)

[2019-10-13 05:47] Zizzamia commented on #87
The recommended way to use Perfume.js is by npm and download the stable version `2.1.2` or the experimental one `3.0.0-rc.10`, especially because I am working on the latest v3 which is still working in progress.

[code]

Any particular reason why you are not using `npm`?

[2019-10-13 13:49] WarrenJones commented on #87
I just wanna use your smart code and base on it I need to recreate from it for my webview h5 page so that I can combine with the app information to make an better adjustment to satisfy my expectation.

[2019-10-13 13:52] WarrenJones commented on #87
If it's possible I wanna join your project cause now our app got over 10,000,000 dau so that every h5 we got over 2,000,000 users every day all around the world,It will be a good testing for the project and I hope I can make some contributions!

[2019-10-14 00:23] Zizzamia commented on #87
Have you built the code before using it?
`npm run build`

[2019-10-14 00:28] Zizzamia commented on #87
But again, `master` at the moment is a working in progress. Just take the built code from **npm** and use it in your App.

[2019-10-14 00:35] #83 closed

[2019-10-14 01:40] WarrenJones commented on #87
Ok,thank you so much

[2019-10-14 16:55] #87 closed

[2019-10-16 22:31] kmartinezmedia opened #88 "fix: pushTask is undefined during HotReloading"
Hi, great library!
Can you please cover the case when during HotReloading throw this error
![image](https://user-images.githubusercontent.com/6308123/66963866-ae4b3300-f029-11e9-9480-b8e3d73f36ef.png)

[2019-10-17 18:08] Zizzamia commented on #88
Fix in https://github.com/Zizzamia/perfume.js/commit/2668d3428d2fd76f3a588de03e3108a07706e33d
and
https://github.com/Zizzamia/perfume.js/commit/cba672ca4a1346a3fdfcf0628cf064731a67c2b0

[2019-10-17 18:08] #88 closed

[2019-10-27 15:40] morganpizzini opened #89 "tsconfig target"
Scenario:
- Create a new application with `ng new my-app`
- Install library and follow the guidelines
- Add `@PerfumeAfterViewInit('AppComponent')` decorator
- Run application

I got the error below
[code]

After some search I found out that the problem is tsconfig's target: by default it is **es2015**, but for make perfume.js works I have to change in **es5**.

This change works for me but I don'

[2019-11-12 17:58] #79 closed

[2019-11-23 16:49] chiefcll opened #92 "browserTracker option not used"
https://github.com/Zizzamia/perfume.js/blob/cc2cac06382a0a756441992b9f2d74aa997be59f/docs/src/app/perfume.config.ts#L37

Should be removed including readme files

[2019-11-23 20:30] Zizzamia commented on #92
Ciao, thank you for the heads up!
I just published Perfume v4 and updated both the [website](https://zizzamia.github.io/perfume/) and the Readme.
In the next few weeks, I am going to have v4 under several stress tests before fully announce it 😄

Do you use Perfume at the moment in Comcast?
I am thinking to have a section in the README to have logos for companies that officially use Perfume.

[2019-11-23 20:30] #92 closed

[2019-11-23 20:43] chiefcll commented on #92
Thanks for the library! I'm checking it out now. If we do use it I'll have to check with our open source committee if you could use our logo on your site.

[2019-11-24 01:58] Zizzamia commented on #92
We use it in production at Coinbase at the moment, let me know if you have any questions on how to get the best out of the library.

[2019-11-25 01:53] chiefcll opened #93 "Feature: Gather Fetch request metrics"
👋

I'd like to do something like the following:
[code]

Once the page is fully loaded - I'd like to get all the AJAX calls that we're made (with some kind of `shouldTrack` filter function to limit domain etc)

Let me know what you think. This would avoid the need to wrap the network requests we care about in a start / end.

[2019-11-25 18:34] Zizzamia commented on #93
Tell me more, what are the goals? What metrics do you want to create, and what value over time do you want to compare?

It is really interesting and we can definitely play around with the PerformanceObserver and Resources collected.

I already have an experimental feature I am playing with it recently https://github.com/Zizzamia/perfume.js/blob/master/src/perfume.ts#L309

[2019-11-25 20:44] chiefcll commented on #93
I'm working on capturing performance measurements for our sites. Our web apps are single page applications which make API calls for user specific information. Thus our full time to interactive is when JS is processed and API calls are completed. Each of our applications also mark when they consider themselves ready.

I don't know how much of this should be Perfume's responsibility, but interacting

[2019-11-25 20:53] Zizzamia commented on #93
Sounds good, before making any change on Perfume we want to make sure to understand what metric is important to create.
We agreed that collect Resource Timing information is valuable, now the next steps are probably divided this data into two classes:
- what? we can collect information related to APIs, images, js files
- when? we should decide when we want to stop measuring, to have a time frame t

[2019-11-25 21:01] chiefcll commented on #93
what - part of the options would be a filter function. End user would write what they are interested in. (might be resourceType + filter function)
when - In the case of a single page app, you would not stop measuring. We'd send all the calls before exit of the app.

I like #1 for dataConsumption...

[2019-11-26 02:54] Zizzamia commented on #93
Ok, it makes sense, the ability to leave the user freedom to customize what they want to filter out.
You say, send the calls before exiting the app, but what do you want to send? The sum of all Kb downloaded or anything in particular?

We need in some way normalized this data to make it very simple to monitoring over time cross million of users and hundreds of countries.

But we are getting closer

[2019-11-26 12:07] chiefcll commented on #93
We use sendBeacon - we'd send whatever API calls were made - the info we want is call size KB - and how long the API took to respond.

[2019-11-27 07:47] Zizzamia commented on #93
Awesome, working on something you might like.

[2019-11-28 01:47] Zizzamia commented on #93
Ciao @chiefcll, with the new version 4.3.0 now you have access to the Resource Timing.
https://zizzamia.github.io/perfume/#/resource-timing/

Feel free to play around it and looking forward to hear what you think about it.

[2019-11-28 01:47] #93 closed

[2019-11-28 08:13] #70 closed

[2019-11-28 08:30] Zizzamia opened #94 "Add navigator.connection support"
Based on this [code](https://github.com/GoogleChromeLabs/react-adaptive-hooks/blob/master/network/index.js), add to each metric in Perfume the [Network Information](http://wicg.github.io/netinfo/).

[code]

[code]

[2019-12-01 02:53] #94 closed

[2019-12-01 04:27] Zizzamia commented on #68
This feature will be available with [v4.4.0](https://github.com/Zizzamia/perfume.js/releases/tag/v4.4.0).
Really appreciated the feedback 🔥🔥🔥

[2019-12-01 04:27] #68 closed

[2019-12-01 04:27] Zizzamia commented on #71
This feature will be available with [v4.4.0](https://github.com/Zizzamia/perfume.js/releases/tag/v4.4.0).
Really appreciated the feedback 🔥🔥🔥

[2019-12-01 04:27] #71 closed

[2019-12-16 05:48] aroramayur opened #98 "Should be installed as a dependency and not a dev-dependency"
I see in the instructions that this should be installed as a dev-dependency ( --save-dev ). Shouldn't this be installed as a dependency?

[2019-12-17 05:06] Zizzamia commented on #98
Ops, you right!
Thank you for noticing this, would you mind opening a PR with the fix.
🙌

[2019-12-17 05:58] aroramayur commented on #98
Done.
https://github.com/Zizzamia/perfume.js/pull/100

[2019-12-17 21:46] #98 closed

[2019-12-31 11:56] adambraimbridge opened #101 "https://zizzamia.github.io/perfume/ shows `--save-dev`"
Related to https://github.com/Zizzamia/perfume.js/issues/98

Does https://zizzamia.github.io/perfume/ need to be re-published? It looks like it has an out-of-date example for "[Installing and Imports](https://zizzamia.github.io/perfume/#/installing-and-imports/)"

![image](https://user-images.githubusercontent.com/224547/71620771-a67c4300-2bc3-11ea-8748-79e108b06f1e.png)

I believe it ought to be

[2020-01-02 09:52] dangxquang opened #102 "Error running Perfume.js: TypeError: Failed to execute 'observe' on 'PerformanceObserver'"
I run the sample with React but no luck. Perfume only track navigation timing and show some error with entryType
![image](https://user-images.githubusercontent.com/49668846/71661216-1b947780-2d80-11ea-9139-0f533246f83a.png)

[2020-01-02 23:50] Zizzamia commented on #102
Ciao @dangxquang and thank you for opening this issue.
Would you mind sharing some extra information like:
- Perfume version
- How did you install Perfume
- The code on how you are using Perfume

Thank you

[2020-01-02 23:54] Zizzamia commented on #101
Thank you @adambraimbridge! 🙏
Are you using Perfume at FT at the moment? If so I would love to have it in https://github.com/Zizzamia/perfume.js#perfume-is-used-by

Btw about the documentation, we changed the doc in the README but not in the HTML https://github.com/Zizzamia/perfume.js/blob/master/docs/src/app/app.component.html#L73

Feel free to open up a PR for those changes.
Have a great 2020 fu

[2020-01-03 03:21] dangxquang commented on #102
https://codesandbox.io/s/perfume-react-u1y2f
@Zizzamia I have a demo on Code sandbox. Just use create-react-app template with the react example.
My browser is Chrome Version 73.0.3683.103 (Official Build) (64-bit)

[2020-01-03 07:42] dangxquang commented on #102
I also have a question about TTI. My page is a dashboard with the products list. Currently, I have to call many APIs to aggregate the data needed to complete render in react. So in my use case, I think TTI is an important metric to keep track of. I haven't found any solution to use `tti-pollify` because it won't have the right TTI when navigating between routes. Do you have any suggestion @Zizzami

[2020-01-03 13:31] adambraimbridge commented on #101
Thanks @Zizzamia 🎉

Here's the PR: https://github.com/Zizzamia/perfume.js/pull/103

We're using Perfume.js (in a currently limited fashion) in FT.com/videos. See: https://github.com/Financial-Times/n-tracking/pull/32

Happy 2020 to you!

[2020-01-03 22:09] #101 closed

[2020-01-03 22:12] Zizzamia commented on #101
Amazing, thank you again for the PR.
Btw in FT/n-tracking you should enable [Network Information](https://zizzamia.github.io/perfume/#/network-information/), I have the doc on the website, but it is missing in the README.

At Coinbase we use the Network Information to better understand First Input delay between 3g and 4g networks.

Oh and if you want to fix the README by adding the missing miss fo

[2020-01-03 22:19] adambraimbridge commented on #101
Thanks very much Leonardo! Great advice. Happy weekend to you too.

On Fri, 3 Jan 2020, 22:12 Leonardo Zizzamia, <notifications@github.com>
wrote:

--

*This email was
sent by a company owned by Financial Times Group Limited
("FT Group <http://aboutus.ft.com/corporate-information/#axzz3rajCSIAt>"),
registered office at Bracken House, One Friday Street, London, EC4M 9BT.
Registered in England and W

[2020-01-03 22:19] Zizzamia commented on #102
@dangxquang interesting, in https://codesandbox.io/s/perfume-react-u1y2f with Chrome 79 I don't see the error. It might be a problem with Chrome 73.

Would you mind help me debug this error by turning on and off those configs:
[code]

and see what of those introduces the error. I have a feeling it might be one of the latest PerformanceObserver APIs.

[2020-01-03 22:26] Zizzamia commented on #102
In the past, I express already why I removed TTI from Perfume https://github.com/Zizzamia/perfume.js/issues/54#issuecomment-437533867

The tldr is that a better metric you should use is LCP mixed with the Network Information. Monitoring the largest contentful paint when users are in 3g is a more stable metric to understand when the page become useful for your users.

Let me know if you have more q

[2020-01-04 00:09] Zizzamia commented on #73
Ciao @bcarson do you still have this problem with the latest Angular version, also @juristr any thoughts about this problem?

[2020-01-06 07:59] dangxquang commented on #102
Yeah, it is a problem with Chrome 73. I successfully update to Chrome 79 and everything running fine.
One question though, I track firstContentfulPaint + largestContentfulPaint but I only see log from firstContentfulPaint. largestContentfulPaint is sometime miss or hit, or just not logging at all.

[2020-01-08 05:48] Zizzamia commented on #102
In Perfume the developer is notified with the latest LCP duration when First Input Delay is fired, because Largest Contentful Paint is deactivated after user input. If main content shows up after any user input, then the largest element that LCP uses won’t reflect the main content.

One challenge with exposing LCP only after FID is the fact that the browser is not aware of the "winning" candidate

[2020-01-08 21:21] Zizzamia commented on #101
@adambraimbridge feel free to add FT into https://github.com/Zizzamia/perfume.js#perfume-is-used-by

[2020-01-10 05:08] dangxquang commented on #102
Thank you for the clarification.
One last question though, FCP and FID only true when the page is first-time load right? In SPA, when I need to measure components render time, I need to use a custom metric or just re-init perfume?

[2020-01-24 21:26] tylercrocker opened #105 "Listed options in docs are not actually used."
[code]

None of these options that are listed in the docs actually do anything. I would actually really like to be able to disable these for a custom set of timings I'm doing and I don't need those to be triggered over and over... Also, "warn" is not a config option at all, but is listed in your docs.

[2020-01-24 23:33] Zizzamia commented on #105
Yup, good call. I forgot to update the doc after a few changes I made a few weeks ago. Thank you I will make sure to update the doc this weekend.

From now on FP, FCP, FID, and LCP will be always triggered once per session because are highly important as field data https://youtu.be/iaWLXf1FgI0?t=451.

[2020-01-28 07:20] Zizzamia commented on #105
Did some clean up on the README and added a new [QuickStart](https://github.com/Zizzamia/perfume.js#quick-start) section. Now I just need to fix the official doc and deploy them 😆

[2020-02-06 01:15] tylercrocker commented on #105
Awesome, thanks for updating the docs!

I'm assuming by "once per session" you mean "once per perfume instance". We were trying to write up a thing where we had a separate Perfume.js instance running and it then causes all of those default timing data to call all over again. Any thoughts?

[2020-02-06 21:47] Zizzamia commented on #105
Right right, Perfume should have **only one** instance per each session. It's better to have it as a singleton and share the instance cross pages and components.

[2020-02-07 21:31] tylercrocker commented on #105
OK cool, thanks for the confirmation on that! I'd suggest maybe adding a section to the readme warning about that?

[2020-02-17 04:41] Zizzamia commented on #72
I realized this data can be easily filtered out in post-analysis by your favorite Analytics tool, the only noise data Perfume should take care of, is anything under 0ms.

[2020-02-17 04:41] #72 closed

[2020-02-17 04:42] Zizzamia commented on #73
Closing this for no progress over the last six months.

[2020-02-17 04:42] #73 closed

[2020-02-20 03:54] warpcgd opened #106 "What about browser compatibility？"
Hello guys, I want to know browser compatibility？Minimum supported Chrome version？

[2020-02-20 18:21] Zizzamia commented on #106
Perfume uses a large collection of APIs, which tends to have different browser compatibility. The goal for Perfume is to fully support all the latest APIs and simply silently not return results for the old browser.

Here a quick list:
**Network Information API - effectiveType**: Chrome 61+, Opera 48+, Edge 76+, Chrome for Android 76+, Firefox for Android 68+
**Save Data API**: Chrome 65+, Opera 62

[2020-02-21 02:09] warpcgd commented on #106
Thanks

[2020-02-21 02:09] #106 closed

[2020-02-23 19:57] Zizzamia commented on #105
Did some nice update on the doc https://zizzamia.github.io/perfume, for the last question feel free to open up a new issue and if you want open a PR.

I am going to close this issue because the original answer got resolved. Thank you

[2020-02-23 19:57] #105 closed

[2020-02-23 20:00] Zizzamia commented on #89
Yeah, the `PerfumeAfterViewInit` decorator with Angular 9 is pretty much failing all the time.
I am thinking to get rid of the decorator at all and just keep only the Angular Perfume instance.

[2020-02-23 20:01] Zizzamia commented on #102
@dangxquang for the original question, do you still have problem for Chrome 73?

[2020-02-23 23:56] #80 closed

[2020-03-12 11:27] ngrkishore opened #107 "Integration with Prometheus/Grafana"
Hi,
Is it possible to use Prometheus rather than google analytics to expose the metrics?

[2020-03-13 18:31] Zizzamia commented on #107
You can use any analytics you prefer, Perfume.js does not pick anything for you at the moment.
Follow the [Quick start](https://github.com/Zizzamia/perfume.js#quick-start) and replace `myAnalyticsTool` with the one you prefer most.

[2020-03-13 18:31] #107 closed

[2020-03-29 19:01] adover opened #110 "Angular 9 build fails due to NgPerfume error"
Hi all,
When trying to run an `ng build` with NgPerfume added I am getting this error:

[code]

Using Angular 9.1.0 and Perfume 4.7.0

EDIT: This can be fixed by adding `"skipLibCheck": true` to the tsconfig.json, although this is not ideal

[2020-04-03 00:47] Zizzamia commented on #110
@adover if you know how to solve it, would you mind make a PR for it?

[2020-04-10 05:25] nickcox opened #111 "Resource Timing in Firefox"
First off: thanks for your efforts, I love this library.

I have an issue capturing resource timings in Firefox (75.0) with the following config:

[code]

I'm able to see resource timings logged in Chrome but not Firefox. (Firefox does log navigation timings though.) Is this something that's expected to work?

[2020-04-11 22:44] Zizzamia commented on #111
Thank you 💛
Would you mind sharing a screenshot of what you are seeing between Chrome and Firefox?
And exactly what version of the two you are using.

Firefox is a little behind on supporting several Web Performance API, and Perfume.js instead of mocking the value, it only serves the information if the browser supports the API.

[2020-04-12 09:15] nickcox commented on #111
Sure. Here's Firefox - as mentioned, version 75.0:

![image](https://user-images.githubusercontent.com/135552/79065086-0e791400-7cf1-11ea-8b22-4c05d00dea61.png)

and here's the same page in Chrome (80.0):

![image](https://user-images.githubusercontent.com/135552/79065138-408a7600-7cf1-11ea-8eeb-25f2866d741e.png)

it looks as though Firefox does have some resource timings though:

![image](https:/

[2020-04-12 22:20] Zizzamia commented on #111
So yeah, Firefox still doesn't support `paint` as `entryTypes` which is sad 😓
Try to run this simply vanilla JS code in any browser you prefer, https://plnkr.co/edit/ZSjeZb?p=preview&preview

Because this is an experimental API, Firefox will not support yet.

[2020-04-12 22:24] Zizzamia commented on #111
So similar story for probably all other entryTypes like: `first-input`, `largest-contentful-paint`, `layout-shift`.

About `resource`, try to enable the DataConsumption API as well:
[code]

Now that I think about it, it could be that the main problem is related to not support the `resource` type for the PerformanceObserver API.

[2020-04-13 07:12] Zizzamia opened #112 "feat: Total Blocking Time (TBT)"
Find the right balance to implement this metric in Perfume.js https://web.dev/tbt/
A possible idea, start measuring at FCP and stop at FID.

[2020-04-14 04:47] nickcox commented on #111
Thanks for taking the time to look into this. FWIW, I'm pretty sure the `resource` type is supported. For example, the following seems to work in the Firefox console:

[code]

[2020-04-14 18:09] Zizzamia commented on #111
Would you be comfortable to debug this part of the code https://github.com/Zizzamia/perfume.js/blob/77f66638649a6dcffe2a199ab876901f42f5fa72/src/perfume.ts#L733 on Firefox? I would do the same in the next few days.

[2020-04-15 06:24] Zizzamia commented on #110
@mgechev do you know this issue what is about?

[2020-04-15 06:44] Zizzamia commented on #111
Ok, the short story is that to enable Performance Observer for Firefox will require a major release because it could introduce some breaking changes.
I am going to start a few release candidates to test out Perfume v5 before releasing it officially.

[2020-04-15 07:26] Zizzamia commented on #111
@nickcox here our fix https://github.com/Zizzamia/perfume.js/releases/tag/v5.0.0-rc.1 my friend ☕️
Perfume.js v5 contains some breaking changes so please feel free to open a new issue or ask me more questions if something unusual comes up.

Grazie Mille 💛

[2020-04-15 07:26] #111 closed

[2020-04-15 07:28] Zizzamia commented on #110
@adover actually I decided to stop supporting custom Framework version starting from v5 https://github.com/Zizzamia/perfume.js/releases/tag/v5.0.0-rc.1  ☕️, mostly because Perfume is a very simple Vanilla library which is not too hard to include in any library. Sorry if this news it comes out without a proper warning.

Perfume.js v5 contains some breaking changes so please feel free to open a new

[2020-04-15 07:28] #110 closed

[2020-04-15 07:29] Zizzamia commented on #89
@morganpizzini actually I decided to stop supporting custom Framework version starting from v5 https://github.com/Zizzamia/perfume.js/releases/tag/v5.0.0-rc.1  ☕️, mostly because Perfume is a very simple Vanilla library which is not too hard to include in any library. Sorry if this news comes out without a proper warning.

Perfume.js v5 contains some breaking changes so please feel free to open a

[2020-04-15 07:29] #89 closed

[2020-04-15 07:30] Zizzamia opened #113 "fix: Chinese README"
At the moment the Chinese README https://github.com/Zizzamia/perfume.js/blob/master/README-zh_CN.md is out of sync with the current one, I would love some help on fixing this.

[2020-04-15 07:32] Zizzamia opened #114 "feat: Italian README"
Per i miei amici Italiani, se volete creare un custom README tipo `README-it.md` mi fareste un gran bel piacere. Grazie Mille 💛

[2020-04-15 07:34] Zizzamia opened #115 "feat: Spanish README"
I would love to have a Spanish README, so please if you know how to write one like `README-es.md` it would be super awesome. Grazie mille 💛

[2020-04-15 07:35] Zizzamia opened #116 "feat: Japanese README"
I would love to have a Japanese README, so please if you know how to write one like `README-jp.md` it would be super awesome. Grazie Mille 💛

[2020-04-17 05:32] Zizzamia opened #117 "feat: Korean README"
I would love to have a Korean README, so please if you know how to write one like README-ko.md it would be super awesome. Grazie Mille 💛

[2020-04-19 06:03] #112 closed

[2020-05-06 23:49] Zizzamia opened #118 "Remove listener for disconnectPerfObserversHidden after first execution"
To avoid multiple calls of `disconnectPerfObserversHidden` we should remove the listener after the first execution.

[2020-05-16 21:57] zfdesign opened #121 "Document the use with Google Analytics"
Following the documentation and the links from the [Articles](https://github.com/Zizzamia/perfume.js/tree/v5.0.0-rc.19#articles) section in the README.md and [this Plukr](https://plnkr.co/edit/t97Ya6?p=preview&preview) seem to suggest the use of PerfumeJS with Google Analytics.
However I have noticed that does not seem to work in my implementation.
Is it possible to have an example and/or clearer

[2020-05-16 22:06] Zizzamia commented on #121
Ciao @zfdesign, the implementation, and Plukr you have is related to Perfume.js v2!
I'll advise you to upgrade to `5.0.2` and use this [section in the README](https://github.com/Zizzamia/perfume.js#use-google-analytics) to have the events on Google Analytics.

To remove the confusion, I also removed the articles from the README. They are outdated and not worth to mention those anymore.

Please kee

[2020-05-18 02:40] DavidWells commented on #121
Wow, this library is super cool nice work!

Someone DM'ed me today asking if this works with the [analytics library](https://getanalytics.io/) and I had a looksie and it does!

I just added an example of how to use `perfume.js` with the `analytics` package over [here](https://github.com/DavidWells/analytics/tree/master/examples/using-perfumejs)

When you combine `analytics` and `perfume.js` the tr

[2020-05-18 03:09] Zizzamia commented on #121
Thank you @DavidWells, really appreciated ✨

Please feel free to open a PR and add your example on how to mix `analytics` with `perfume.js` in the [Perfume.js plugin section](https://github.com/Zizzamia/perfume.js#plugins). Always happy to share new ways to use Perfume.js in the web community. 🚀🌕

Oh btw, the **Netlify** link is not up anymore. 😅

[2020-05-22 05:45] DavidWells commented on #121
Fixed all the links and made an official analytics plugin for this 🎉

https://github.com/Zizzamia/perfume.js/pull/122#issue-421727234

[2020-05-22 17:18] Zizzamia commented on #121
Amazing, now we can close this issue. If anyone has more questions related to external Analytics, please open a new issue.

[2020-05-22 17:18] #121 closed

[2020-05-27 20:59] dan-kez opened #123 "Determine JS Parse Time vs Network load time"
Hello!

Is there a way using this library to be able to measure the JS parse time for a downloaded js file?

Basically I'm looking to measure the download time (network dependent) vs js parse time (cpu dependent).

Thanks for making this lib!

[2020-05-28 05:08] Zizzamia commented on #123
Ciao! Very interesting question, why are you trying to measure JS Parse Time in particular?
Are you measuring inside a Single Page App, or Server Side Rendered?

If you are in a Single Page App you can measure
- **network time**: use Time To First Byte, which is contained inside the [Navigation Timing](https://github.com/Zizzamia/perfume.js#navigation-timing).
- **parse time**: is generally contai

[2020-05-28 15:48] dan-kez commented on #123
Thanks for the detailed and thoughtful answer!

The product I work on is actually client side rendered embedded content. For example, an ecommerce store would add my JS snippet and I will affect their site either adding or changing content that is displayed.

Many of these changes are expected to happen as close to page load as possible while not being a blocking script. From some basic testing, J

[2020-05-30 22:06] Zizzamia commented on #123
If I was building an embedded content I will not focus much my attention on Field Data, but more on Lab Data. So I don't think Perfume.js is the best option for this case, but instead, I will focus more on the adoption of Puppeteer, and in particular, I will read carefully the [Web Performance Recipes With Puppeteer](https://addyosmani.com/blog/puppeteer-recipes/) article.

I will probably build a

[2020-05-31 17:58] Zizzamia opened #125 "Trim down not necessary mangle properties in Terser"
To boost the minification we have some mangle properties in the Terser config.
https://github.com/Zizzamia/perfume.js/blob/master/rollup.config.ts

But over time we stopped using most of them, I think it's time to double-check which one are the properties are not necessary anymore.

[2020-05-31 18:03] Zizzamia opened #126 "Add web vitals score to metrics"
For all Web Vitals metric, let's add the `vitalScore: 'good' | 'needsImprovement' | 'poor'` based on https://web.dev/vitals/#core-web-vitals article.

This value will help create dashboards that are similar to all other Chrome suites of tools.

[2020-06-03 02:42] #126 closed

[2020-06-24 10:10] Cicel opened #129 "FCP only work in Chrome？"

[2020-06-24 17:58] Zizzamia commented on #129
Works anywhere the PerformanceObserver supports it; at the moment only Chrome if I recall, but Safari is working right now on supporting the first iteration.

[2020-06-24 17:58] #129 closed

[2020-07-27 07:18] chengmings opened #132 "The name "myAnalyticsTool" could not be found"
When I copied Quick start, it told me that the name "myAnalyticsTool" could not be found
why？

[2020-07-28 00:41] Zizzamia commented on #132
Did you change `myAnalyticsTool` with your analytics tool?

[2020-07-28 02:37] chengmings commented on #132
No，I downloaded this library directly, and then copied the content on Quick start

[2020-07-28 20:46] Zizzamia commented on #132
`myAnalyticsTool` is a placeholder, for your favorite analytics tool to send the metrics Perfume collects for you 😄

[2020-07-29 01:30] chengmings commented on #132
Do you mean I need to find an analysis tool to work with Perfume?
What analysis tools do you generally use？

[2020-07-29 05:30] Zizzamia commented on #132
Perfume is not an analytics tool with dashboard or a database to save your data, it is simple a way to gather performance field data, then you need to save this data anywhere you prefer. Popular choice are Google Analytics, Amplitude, Datadog, Mixpanel, etc...

[2020-07-29 05:35] Zizzamia commented on #132
If you have Google Analytics in your project you should check out this part of the doc https://github.com/Zizzamia/perfume.js#use-google-analytics.

I'm going to close this issue, because we already covered on several points related to your question. Have a great week.

[2020-07-29 05:35] #132 closed

[2020-07-29 15:27] rikonor opened #133 "Expose aggregated metrics when all are available"
Hi,

Thank you for creating this. I was wondering - do you see a way to expose a callback that can be called with all metrics aggregated once they are available? This would complement the individual metrics firing.

The use-case for this is reporting all metrics at once, instead of as they come.

I tried my hand at doing this myself - since it seems most metrics fire at or before the page changes

[2020-08-03 12:52] glebv opened #135 "'storage.estimate' is not a function"
Hi, I discovered that perfumejs(v5.0.2) leads to issue "storage.estimate is not a function".
The issue was discovered on Mobile Chrome (55-60).
[The code ](https://github.com/Zizzamia/perfume.js/blob/930f637d52b365fea049d47bea09206be9327dda/src/perfume.ts#L57) is corresponding to the issue.

Probably it can be solved by
[code]

Can I help with it and prepare PR?
Thanks for maintaining the helpful

[2020-08-03 18:04] Zizzamia commented on #135
Thank you @glebv for reporting this issue! Yes please, would love to have a PR from you than I will take care for release the next version.

[2020-08-03 18:05] Zizzamia commented on #135
@glebv one small ask, can you make sure to add a test that recreates the issue and then fix it. Thank you!

[2020-08-04 12:00] glebv commented on #135
Yeap, I'll do it

[2020-08-05 13:00] glebv commented on #135
I've prepared a fix but I don't have enough permissions to create a branch and PR, should I fork the repo with my fix?
PS package.lock in master has old version (5.0.2) instead of 5.1.0, I've fixed in my pr as well

[2020-08-05 17:34] Zizzamia commented on #135
Yes @glebv, you need to fork and create a PR from your fork. Also don't worry about the version in the `package.lock`, keep the PR simple and focus only on the issue you discovered. Thank you again for doing this.

[2020-08-08 06:30] ElvisWang27 commented on #64
hello @Zizzamia , I want to know why drop the support for Paint Timing polyfill. As far as I know, the `PerformancePaintTming` isn't support in Safari and IOS,  is  meant  I cannot get the FCP or FP data in these browser or device without the polyfill?

[2020-08-10 02:59] Zizzamia commented on #64
Ciao @ElvisWang27, long story short is a matter of accuracy of data. It's better have less data but accurate, that have more data but with extra noise that is hard to debug or have clear OKR to follow. About Safari, I think we are getting really close on supporting more and more performance metrics in the fields. Just recently @noamr added First Paint in the next Safari version (https://techblog.w

[2020-08-10 05:51] noamr commented on #64
Hi, I contributed to the paint timing spec and the Safari implementation.
I believe that it is impossible to accurately polyfill paint timing. One of two things would happen if you try:

- A very coarse implementation, which would give different results from vanilla in various edge cases, but would measure some of the key use cases.
- An implementation with significant overhead of its own, which w

[2020-08-10 08:07] ElvisWang27 commented on #64
@Zizzamia Thanks for your time, In my project，the statistics about browser distribution show there are 10% customers use chrome version lower than 60, and 20% customer use IOS. So, when I did an optimization about FCP for my project, I want to know it's useful for these 30% customers.

I agree with your opinion about the mater of accuracy of data. And I have an idea to use the polyfill method with

[2020-08-10 08:19] noamr commented on #64
It depends on how much inaccuracies you are willing to live with and how much overhead, and for which content.

You can work with mutation observers and wait for text and image loads, and then approximate the visibility of those contentful elements with getComputedStyle etc, but the more elements you have, the more potential overhead.

I would say that it’s possible to build a decent polyfill that

[2020-08-10 08:29] vigneshshanmugam commented on #64
Adding to the above points, I tried doing the [polyfill](https://github.com/vigneshshanmugam/first-contentful-pain) for FCP which happens to be working for some of the cases, but its very hard to accurately claim the metric being very close to the actual metric exposed by the browsers. Also explained some of the [gotchas](https://github.com/vigneshshanmugam/first-contentful-paint#gotchas) in the l

[2020-08-10 08:45] glebv commented on #135
Hi @Zizzamia, when are you going to release next version?

[2020-08-10 08:54] Zizzamia commented on #64
@ElvisWang27 working with Chrome before v60 has a few step back in terms of latest field data metrics. @noamr made a great point on trying to create a custom metric that focus on your pages and user experience. The best Performance API with the largest support for that is `performance.mark` ([browser support](https://caniuse.com/#feat=mdn-api_performancemark)), and with Perfume you can use that AP

[2020-08-10 09:07] noamr commented on #64
I also find that IntersectionObserver is a useful metric for many experience-centric use cases, as it reaponds to particular elements coming into view.

[2020-08-10 09:41] ElvisWang27 commented on #64
@Zizzamia @noamr thanks  for help！！！
According to the above，the key point to measure in these browser is to create a custom metric  rather than create a polyfil for the `PerformancePaintTiming`and have them pretending to be equivalent to FCP.

It's a good idea, I will try it . But this api also need [`intersection-observer`](https://www.npmjs.com/package/intersection-observer) polyfill to get lage

[2020-08-10 17:04] Zizzamia commented on #135
@glebv sorry for the late reply. In the next couple of days I will release the new version 🎉

[2020-08-10 17:06] #135 closed

[2020-08-27 05:46] Zizzamia commented on #114
Done by @chefleo with https://github.com/Zizzamia/perfume.js/pull/137

[2020-08-27 05:47] #114 closed

[2020-09-06 23:36] Zizzamia opened #139 "Navigation Largest Contentful Paint"
Ok it is a terrible name, but I would like to experiment on a way to use the FCP and LCP fundamentals to determine the quality of rendering Hero Elements when navigate from one view to another.

[2020-09-15 19:25] kevinkimball opened #140 "Measure TBT independent of FID"
Thanks for your library.

I am doing lab measurements, and I thought it would be useful to measure the TBT without relying on user input. This would make it usable in the lab as a proxy for FID.

web.dev [defines FID](http://web.dev/tbt) as

My suggestion is to change the library to match that calculation.

[2020-09-15 19:39] Zizzamia commented on #140
Ciao @kevinkimball,
thank you for making this suggestion.

Perfume.js focus on field data not lab data. If you are looking to collect Lab Data I suggest to use Lighthouse CI instead. I personally use it in combination with Lighthouse Server, and it's pretty great. cc @patrickhulce did some incredible work there.

Happy to share more on how to use TBT with Perfume.js in the field.

[2020-09-15 19:56] patrickhulce commented on #140
There has been *some* discussion around a field equivalent of TBT using [long task performance observers](https://github.com/w3c/longtasks). I think it would still be an interesting exploration under another name but understood if you want to keep it out of scope for perfume.js :)

[2020-09-16 00:58] Zizzamia commented on #140
@patrickhulce Perfume.js has three TBT options:
1. measure long tasks from FCP until FID
2. measure long tasks from FCP until FID + 5 seconds
3. measure long tasks from FCP until FID + 10 seconds

I use all of them at Coinbase, and I realized the number 3 option works really well. In some way waiting 10 extra seconds after FID it normalize the data for Total Blocking Time in the field.

[2020-09-16 01:01] Zizzamia commented on #140
I think the key part of the story is that using any polifyll to calculate Time To Interactive is extremely expensive in resources need it, and not simple enough that is worth to use in the field.

That's why we stopped using https://github.com/GoogleChromeLabs/tti-polyfill and instead we rely on FID from now on.

[2020-09-16 01:07] patrickhulce commented on #140
Ah that's really cool I didn't realize you had options 2 and 3 there! 👍  Makes sense to exclude the TTI polyfill at this point. Your solutions sound great :)

[2020-09-21 03:32] suntong opened #141 "Portability"
Is perfume.js portable? It seems perfume.js is build for nodejs apps, but is it possible to use it in other code bases, e.g., the sites build with C#, or modern Go, or even to Mobile measuring? thx.

[2020-09-21 21:02] Zizzamia commented on #141
Interesting question, can you share more info, maybe what's the end result you are looking for.

[2020-09-21 23:52] suntong commented on #141
Hi,

Thanks for the response.

All those measures that `perfume` collects, like First Paint (FP), First Contentful Paint (FCP), First Input Delay (FID), Total Blocking Time (TBT), etc, are very interesting metrics, that I need a systematic way to measure, instead of relying on other tools like lighthouse, etc.

So, would it be possible, for the html file to include a `perfume.js` file so that all

[2020-09-22 03:42] Zizzamia commented on #141
Right, the README could offer more infos, that's for sure (feel free to open a PR 😄)

So for your case, do you have an internal endpoint to connect Perfume.js with your product?
Like ideally what you will end up to do is something like

[code]

Remember, Perfume.js just collects data for you, then you decide where to store the data and how to visualize them. There are so many third party provider

[2020-09-22 04:21] suntong commented on #141
Cool. Sorry I'm not a JS programmer, so when you (the README) are/is talking to me with JS code, I'm slow to understand what you are saying, :)
It's a mouthful for me now. Let me try to digest them slowly...
thx again

[2020-09-22 04:21] #141 closed

[2020-10-15 19:26] alaingoga opened #142 "Custom metrics"
We are using the library to collect core vital and send them to google analytics using GTM. But we would like to send other custom performance metrics like hydration time on react. There is a way to extend the library to allow this?
It would be ideal to follow the same flow.

[2020-10-18 01:38] Zizzamia commented on #142
Ciao @alaingoga,
have you tried to use `perfume.start` and `perfume.end` to annotate custom [performance metrics](https://github.com/Zizzamia/perfume.js#annotate-metrics-in-the-devtools)?

I personally use it all the time for any particular JS logic I want to monitor over time, both in the Chrome Dev Tools and in the field.

[2020-11-04 12:40] nitinagrawal08 opened #145 "Many of the metric events are not getting recorded"
We are using perfume.js for live tracking of users data for housing.com. What we have seen over the period of time that CLS metric is only getting recorded for 3% users and tbt for 30% users. Any clue why it would be happening like this? Configuration used
[code]
Environment - React

[2020-11-05 02:05] Zizzamia commented on #145
Ciao @nitinagrawal08,
would you mind share more about:
- what version of Perfume.js are you running
- what's the percentage of your users on Chrome
- can you share the percentage of all the other as well, like % of `fcp`, `lcp`, `fid` and so on
- are you running as SPA or SSR

Just for context, the reason I asked about Chrome is because the library depends on the [PerformanceObserver API](https://

[2020-11-05 09:42] klh opened #146 "respect doNoTrack"
if navigator.doNotTrack is true, the abort the tracking

[2020-11-05 19:16] Zizzamia commented on #146
Oh wow, I wasn't aware that was a thing. Thank you for the feedback.
I wonder if the read of this API should be done from the developer side or library side, it could cause some edge cases where a third party sets this to false and then Perfume stops to working and the developer is not aware of why.

Also if we are worry to sending the data to your company analytics when `doNotTrack` is `true`, yo

[2020-11-05 19:25] Zizzamia commented on #146
Closing this issue as explained here https://github.com/Zizzamia/perfume.js/pull/147#issuecomment-722586782 that this should not be part of Perfume.js but more a custom logic the developer should implement inside the `analyticsTracker` callback.

[2020-11-05 19:25] #146 closed

[2020-11-11 10:58] klh opened #148 "ie11 / platform support"
if you either
a: polyfilled .includes
or b: avoided using it at all
perfume would work in ie11.

as it is now it breaks.

examples of usages:
['slow-2g', '2g', '3g'].includes(et)

polyfill:
[code]

[2020-11-12 05:53] ire4564 commented on #117
Hello, I'm a junior developer studying open source in Korea. Your project looks great, so I'd like to translate Korean README. Can I proceed? Looking forward to a good answer. Thank you.

[2020-11-13 16:04] bzikst opened #149 "Increase CLS accuracy"
First of all, thank you for a great library! I'd like to suggest one improvement.

In example code for external analytics you multiply CLS data by 1000 to avoid floats. This is the same thing I do for my own analytics tracking system. But I'm getting anyway precise of two digits after period because of roundByTwo function call in logMetric. This is especially important for CLS because it's common

[2020-11-13 21:05] Zizzamia commented on #149
Ciao @bzikst, great point!
I can work on it next week, but if you want open a PR sooner I'm happy to merge it.
Just make sure to have all the tests for it 😁

[2020-11-13 21:05] Zizzamia commented on #117
Yeah my friend, go ahead 😁

[2020-11-13 21:07] Zizzamia commented on #148
Oh interesting, maybe I can avoid using `includes` and use `indexOf` instead. What do you think?

[2020-11-15 21:59] klh commented on #148
Sure, should be pretty simple, the only place you really use includes is for testing the network type stuff - so its not a big refactor - but i thought it better to let you take the decision on codechange or polyfill.

a simple switch statement would work aswell.

[2020-11-16 07:48] bzikst commented on #149
Thank you @Zizzamia! I'll wait for your fix :)

[2020-12-05 08:52] #117 closed

[2020-12-05 08:52] #148 closed

[2021-01-29 16:29] kylewm opened #153 "Paint metrics are reported when page starts off in a hidden state"
Hi! I noticed a bug in my own application's metric tracking this morning, went to check how Perfume solved it, and I think I found that Perfume has the same bug:

If I open a link in a new tab, wait a few seconds, and then switch to the tab, FCP and LCP are still reported, but the duration is the time I waited before switching to the tab.

I believe this is because `visibility.isHidden` is only se

[2021-02-15 19:55] victorjspinto opened #154 "It's possible to send just one tracking event?"
Hi Guys. First of all, congratulations for this amazing project.

Here at my company, we uses a custom made event tracking platform. Would it possible to aggregate all metrics into a unique event per page view?

That way, I avoid overload this system with a bunch of events :)

Anyone already had this doubt?

best,
victor

[2021-02-16 18:58] knoxjeffrey commented on #148
Hello, thank you for making this change and I see it is merged in. However, when I update perfume.js I can still see the `.includes` in the dist folder. Does the update need published to npm?

[2021-02-16 19:06] knoxjeffrey opened #155 "IE11 support"
#148

Hello, thank you for making the change to support IE11 in the attached issue and I see it is merged in. However, when I update perfume.js I can still see the .includes in the dist folder. Does the update need published to npm?

[2021-03-05 13:09] asvae commented on #154
We implemented it as:

[code]

Which I'm not sure is the right way. Would be nice to have this integrated in perfume somehow. Maybe even as an event:

[code]

[2021-03-23 15:30] asvae commented on #102
Just tested perfume on chrome 73, and had no issues. So probably closable.

[2021-04-19 19:51] martinschalck opened #160 "Uncaught TypeError in PerformanceObserver"
When I have enabled the resource timing I now get the following error message:

`Uncaught TypeError: Cannot set property workerStart of #<PerformanceResourceTiming> which has only a getter`

I think it started after my latest update of Chrome

[2021-04-19 23:10] paulincai commented on #145
@nitinagrawal08 somebody invested 5 minutes and replied to your query. As a minimum you could just say "thank you."

[2021-04-20 13:25] #160 closed

[2021-04-20 13:25] martinschalck commented on #160
Sorry my mistake :(

[2021-05-05 21:01] Zizzamia commented on #155
Good morning @knoxjeffrey, I just publish v6 with all latest PRs. Can you please let me know if that fixed your issues, please.

[2021-05-05 21:05] Zizzamia commented on #154
Ciao @victorjspinto, so the key part of the story is that all metrics happen at different moment of the loading experience, so create just one metrics that joins them all will cause potential data drops if fired too late.

I understand you don't want to overload the system, my best advice is to aggregate them as you best wish in your analytics tooling.

Perfume.js should not provide bias on when t

[2021-05-05 21:06] Zizzamia commented on #153
Oh interesting, great catch! I will do some more investigation on this and see how to fix it.
If you have any idea on how to, feel free to open a PR.

[2021-05-05 21:15] Zizzamia commented on #149
Sorry for the delay https://github.com/Zizzamia/perfume.js/commit/137d153571cea72be457b7d3b8bc9355606b36ea, this improvements is now part of `v6.1.0` 😄

[2021-05-05 21:15] #149 closed

[2021-05-05 21:18] Zizzamia commented on #145
Closing this issue after a few months of lack of reply.

[2021-05-05 21:18] #145 closed

[2021-05-05 21:18] Zizzamia commented on #102
Thank you @asvae

[2021-05-05 21:18] #102 closed

[2021-05-05 21:19] Zizzamia commented on #123
Closing this thread as it looks stale.

[2021-05-05 21:19] #123 closed

[2021-05-05 21:23] #140 closed

[2021-05-05 21:24] Zizzamia commented on #142
Closing this issue as lack of replies.

[2021-05-05 21:24] #142 closed

[2021-05-05 22:04] Zizzamia commented on #133
Ciao @rikonor, thank you for the feedback.

The problem in waiting all metrics are ready, it creates a ton of risk in not firing some of the late values in case someone bounce very quickly out of the website.

You are ofcourse free to aggregate Perfume metrics how and when you prefer in your application. It is something Perfume would never try to push an opinionated API for it.

If I was trying to

[2021-05-06 12:29] #133 closed

[2021-08-16 16:54] latel opened #175 "ios 14 compatity issue"
only fcp and lcpFinal is reported on ios14.7, but much more on android 10.

in addition, element timing is not working on both side.

![image](https://user-images.githubusercontent.com/5621862/129600439-13a06602-f61d-4f82-b569-be0b0a495a8d.png)

[code]

[2021-09-18 20:26] knoxjeffrey commented on #155
Sorry for not getting back to you on this, that's all sorted, thank you 👍

[2021-09-18 20:26] #155 closed

[2021-09-30 12:15] alexander-rymasheusky opened #178 "Is it supported in Safari?"
The readme claims "Cross browser tested", but I'm wondering what that means exactly.

On Safari 14.0 on Macos 10.15, the paint-related callbacks (in particular fcp, lcp) never trigger.  Is it expected?

From some digging, I see that it uses `PerformanceObserver` to get these events, and `PerformanceObserver.supportedEntryTypes` is `["mark", "measure", "resource"]` but no "paint", so it seems that

[2021-10-22 06:24] jackchoumine opened #180 "How can I get a http api time?"
I want to know all http api response time in my project, does it support it? How can I do it?

[2021-12-02 21:01] vxd-dev opened #181 "Resource timings buffer extension"
Hi,

I have noticed that it is possible to track performance of small number of requests/resources. Any plans to support setResourceTimingBufferSize/clearResourceTimings API? Is there any chance to build a workaround to use it with current version (if it is possible).

Thank you.

[2021-12-08 06:14] #181 closed

[2022-02-21 18:54] Zizzamia commented on #178
Ciao @alexander-rymasheusky, it means for the last five years, we've used this library in production across dozens of projects and all major browsers, and there are no issues that the library could create in your app. And in the rare cases that we discovered, we quickly patched them and released a new version.

About Safari, as you noticed, `PerformanceObserver` is very behind.

For the readme, on

[2022-02-21 18:57] Zizzamia commented on #180
Ciao @jackchoumine how you doing?
That metric doesn't come for free, you probably want to use the `perfume.start` and `perfume.end` to manually annotate how long it will take each API.

Let me ask you a few questions:
- what's your goal in measuring this?
- do you want to measure all APIs or just some?

[2022-02-21 19:00] Zizzamia commented on #181
Oh interesting, https://developer.mozilla.org/en-US/docs/Web/API/Performance/setResourceTimingBufferSize!
Help me better understand, what would be the goal to use this API?

Happy to add something on it for Perfume, just trying to connect the dots on how the community will use it and why.

[2022-02-22 00:07] Zizzamia commented on #175
Ciao @latel, yeah you right Safari is so behind in supporting those paint metrics.

About elementTiming, can you show me how you instrumented that one in the HTML?
I just tested that one in https://zizzamia.github.io/perfume/, and works as expected.

<img width="951" alt="Screen Shot 2022-02-21 at 4 06 31 PM" src="https://user-images.githubusercontent.com/829214/155040666-381a2f64-a161-433f-9593-f

[2022-02-22 00:08] Zizzamia commented on #139
Implemented as Navigation Total Blocking Time instead.

[2022-02-22 00:08] #139 closed

[2022-03-06 21:23] jackchoumine commented on #180
1. The goal it to know all api time
2. All api in projects

I am try to improve a old project  I wanna find what http api is slow so I wanna all api time

[2022-03-31 19:38] #180 closed

[2022-05-11 07:31] carloscohen2202 opened #192 "CLS calculation"
Dear Leonardo,

first of all, we want to say “thank you” for your great perfume.js library. We have been using it for a while to read the Google Core Web Vitals in our shop and optimize our performance. Thanks a lot for that!

For a couple of days we compared the CLS values gained from perfume.js with the ones that we saw on the Google Search Console. Despite the fact that the quantity of users /

[2022-06-03 16:54] SuperOleg39 opened #194 "Question about Interaction to Next Paint (INP) implementation"
Hello!

Do you have a plans for [Interaction to Next Paint (INP)](https://web.dev/inp/) metric implementation?
Looks like implementation can be non-trivial, according to [web-vitals package implementation](https://github.com/GoogleChrome/web-vitals/blob/next/src/onINP.ts).

I am interested in your opinion on this metric, as it will affect the size of the package badly, but it seems that this metri

[2022-07-19 12:33] danaenayati opened #195 "how use it for Wordpress sites"
Hi,
I would appreciate it if you help me, how can I use it for the WordPress sites?

[2022-08-10 14:50] SuperOleg39 commented on #194
@Zizzamia hello! What do you think?

[2022-09-01 07:49] Zizzamia commented on #194
Ciao @SuperOleg39, thank you for the ping and sorry for the late reply.

Something I am been thinking for quite a while if it's time to make Perfume.js a superset of the Web Vitals package, by importing the package into Perfume and add some extra functionality on top of it.

This will help stay always align with Google updates, and also keep the extra features that Perfume wants to experiment and

[2022-09-01 07:49] Zizzamia commented on #192
Ciao @carloscohen2202, thank you for the ping and sorry for the late reply.

Something I am been thinking for quite a while if it's time to make Perfume.js a superset of the Web Vitals package, by importing the package into Perfume and add some extra functionality on top of it.

This will help stay always align with Google updates, and also keep the extra features that Perfume wants to experiment

[2022-09-01 10:57] SuperOleg39 commented on #194
Hi! Thanks for the answer)

I see only one problem about `web-vitals` integration - result package size, because at this moment `web-vitals` have 2.5kb gzip size, аnd `perfume.js` is 2.3kb gzip (Bundlephobia info).

What do you think to `size-limit` integration before?

[2022-09-05 11:41] SuperOleg39 commented on #194
@Zizzamia another reason to add `web-vitals` - https://github.com/GoogleChrome/web-vitals/blob/main/CHANGELOG.md#v300-2022-08-24

"Report TTFB after a bfcache restore" and new "attribution build" looks like very important and useful.

[2022-09-19 05:16] Zizzamia commented on #194
Yeah, I think Perfume.js is better suited to be a superset of web-vitals going forward. Going to make the change pretty soon. Just need to find a few hours to make the switch.

Recently I got distracted on building a Performance library for React Native. But now I am back with more coding time on my hands.

[2022-10-04 04:17] chrisweidya commented on #192
Hi @Zizzamia, riding on this thread, I noticed that the `clsFinal` reported value differs to that of `web-vitals`'s cls. I investigated both libraries and it seems that Perfume captures the later `layour-shift` event values (presumably because it was initialised later?). Any `layout-shift` values before that doesn't seem to be captured?

I think making Perfume.js a superset of Web Vitals package i

[2022-10-08 02:43] ZengTianShengZ opened #197 "required member entryTypes is undefined"
Perfume.js: TypeError: Failed to executr 'observe' on 'PerformanceObserver' : required member entryTypes is undefined

https://github.com/Zizzamia/perfume.js/blob/4f0c7300ccd4cdda9e2afe31d11000718a664799/src/performanceObserver.ts#L18

[code]
environment
[code]

[2022-11-06 21:55] Zizzamia commented on #195
Sorry, just read this!
Eventually how did you solved the issue?

[2022-11-06 23:20] Zizzamia commented on #194
Alright, now Perfume.js is a super set of Web Vitals, starting from [v8.0.0](https://github.com/Zizzamia/perfume.js/releases/tag/v8.0.0).

Please, if you see anything that is not working let me know and I will take care of it.

[2022-11-06 23:20] #194 closed

[2022-11-06 23:22] Zizzamia commented on #192
Alright, now Perfume.js is a super set of Web Vitals, starting from [v8.0.0](https://github.com/Zizzamia/perfume.js/releases/tag/v8.0.0). Which will help have better parity of data with the official Web Vitals.

Please, if you see anything that is not working let me know and I will take care of it.

[2022-11-06 23:22] #192 closed

[2022-11-06 23:24] Zizzamia commented on #197
Alright, now Perfume.js is a super set of Web Vitals, starting from [v8.0.0](https://github.com/Zizzamia/perfume.js/releases/tag/v8.0.0). Which will help have better parity of latest edge cases discovered.

Please, if you see anything that is not working let me know and I will take care of it.

[2022-11-06 23:24] #197 closed

[2022-11-06 23:24] Zizzamia commented on #197
Also happy to re-open the issue if you see the latest version does not fix your issue.

[2022-11-07 11:27] carloscohen2202 commented on #192
Thanks a lot @Zizzamia